<div class="footer">

  <div style="margin-right:20px;margin-top:5px;float:right">
    <%= link_to "contact", "mailto:support@vegaphysics.com", :class => "footerLink" -%>
  </div>
 
  <div style="padding-right: 20px;margin-top: 5px;float:right">
    <%= link_to "terms of use", "/tos.html", {:popup => true, :class => "footerLink"} -%>
  </div>
  
  <div style="padding-right: 20px;margin-top: 5px;float:right">
    <%= link_to "faq", faq_url, {:class => "footerLink"} -%>
  </div>
  
</div>
