<div class="topHeader">
  
  <div class="icon">
    <%= link_to(image_tag('justQuadtask.png', :border => 0, :class => "iconImage"), :controller => :tasks, :action => :index, 
    :class => "iconLink") -%>
  </div>

  <% unless ['login', 'signup', 'forgot_password', 'created_password', 'quadoptions'].include?(comes_from) %>
    
    <div style="height:10%;float:left"></div>
    <div class="headerBar">
      <%= link_to "LOGOUT", logout_url, :class => "headerBarLink"-%>
    </div>
    <div class="headerBar">
      <%= link_to "FACEBOOK", "http://www.facebook.com/pages/QuadTask/173273415305", :class => "headerBarLink" -%>
    </div>
    <div class="headerBar">
      <%= link_to "UPGRADE", "http://xyz.com", :class => "headerBarLink" -%>
    </div>
  
  <% end %>
  
</div>
