<li id=<%= "'quadtask_" + task.id.to_s + "'" -%> class="quadTask">
  <%= render :partial => 'task', :locals => {:task => task, :quadrant => quadrant, :highlight_end_color => highlight_end_color} %>
</li>
