<div class="welcome">

  <div class="frame">
  	<div id="header">
  		<div class="shell">
  			<h1 id="logo"><a href="#">iconic</a></h1>
  			<div id="right-area">

  				<div class="cl">&nbsp;</div>
  				<div class="slogan">
  					<h2 style="font-family: Helvetiker, Arial; text-transform: uppercase; font-size: 2.4em; line-height: 35px; text-align:center">TASK MANAGEMENT<br /> "STEPHEN COVEY" STYLE</h2>
  					<h3 style="font-family: Helvetiker, Arial; text-transform: uppercase; font-size: 1.3em; line-height: 19px;text-align:center">URGENT / NOT URGENT &nbsp; &nbsp; &nbsp; IMPORTANT / NOT IMPORTANT</h3>
  				</div>	
  			</div>	
  			<div class="cl">&nbsp;</div>
  		</div>
  	</div>
  </div>
  
  <div id="content">
  	<div class="heading">
  		<div class="shell">
  			<h3><span>You can never make time.  You can only decide how to use the time you've got.</span></h3> 
  			<div class="buttons">
  				<%= link_to "Sign up now", signup_url -%>
  				<%= link_to "&nbsp;&nbsp;&nbsp;&nbsp;Log in", login_url, :class => "last" %>
  			</div>
  		</div>	
  	</div>	
  	<div class="shell">
  		<div id="main">
  			<div class="article">
  				<h3>Why use Quadtask?</h3>
  				<h4>Covey-style</h4>
  				<p>Stephen Covey's original task management method has stood the test of time.  A Google search for "Covey time management" results in over 200,000 entries!  The basic idea is to separate your important tasks from your unimportant tasks, and classify them as important or not important.  Then work on the important ones.  Once you've achieved balance in your life, you'll find you spend the majority of your time in the important / not urgent category. </p>
  				<h4>Web-based</h4>
  				<p>Forget downloading software and worrying about backing up your data.  Quadtask is web-based, and accessible online from
  				  any computer.  Your data is backed up nightly, so you never have to worry about losing track of your life!</p>
  				<h4>Free</h4>
  				<p>Quadtask is yours to enjoy right now, free of charge.  No need to give your credit card for a "trial run" or anything like that.
  				  Your free account will last forever, and you won't ever have to divulge any personal information.</p>
  			</div>
  			<div class="rightside">

<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US"></script><script type="text/javascript">FB.init("56d8803d10ac4a178bc40a8d8b4f0835");</script><fb:fan profile_id="173273415305" stream="1" connections="10" width="300" css="http://lacieslist.com/stylesheets/facebook.css?33"></fb:fan><div style="font-size:8px; padding-left:10px"><a href="http://www.facebook.com/pages/QuadTask/173273415305">QuadTask on Facebook</a> </div>

  			
  			</div>
  			<div class="cl">&nbsp;</div>
  		</div>
  	
  	
  	</div>	
  </div>
	
</div>