@charset "utf-8";
/* FB Fan Rev 2 */

.fan_box
.full_widget 
.connect_top {
	border: 1px solid #99ff99;
	background-color: #99ff99;
}
.fan_box
.full_widget {
	border: 1px solid #99ff99;
}
.connect_top a {
	color: #008020;
}
.connect_top a:hover {
	color: #00a040;	
}
.fan_box
.connections {
	background-color: #99ff99;
	border: 1px solid #99ff99;
	color: #008020;
}
.fan_box
.connections_grid
.grid_item
.name {
	color: #008020;
	border: 1px solid #99ff99;
}